#apps {
  min-width: 300px;

  li {
    text-align: center;
    padding: 10px;

    &:hover {
      background: transparent;
      box-shadow: inset 0 0 0 1px $border-grey;
    }
  }
}

#user {
  font-size: 80%;

  p {
    margin-bottom: 0;
  }

  .row {
    padding-left: 1.20em;
  }

  .user-name {
    font-weight: bold;
  }

  .user-email {
    color: #666;
  }

  .dropdown-bar {
    text-align: center;
  }
}
