.top-bar, .has-form {
  border-bottom: 1px solid $border-grey;
}

.title-area .name h1 a img {
  max-height: 60px;
}

.searchbar {
  line-height: 1;
  padding-top: 7px;

  input {
    height: $button-height;
  }

  .button {
    height: $button-height;
    background: $blue;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
