$grey: #f1f1f1;
$red: #d14836;
$button-height: 30px;
$border-radius: 3px;
$border-grey: #e5e5e5;
$sidebar-left-margin: 30px;

.vertical-container {
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.vertical {
  display: inline-block;
  vertical-align: middle;
}

.top-bar, .has-form {
  border-bottom: 1px solid $border-grey;
}

.top-bar .icon {
  height: 45px; // fix to avoid extra height: https://github.com/zurb/foundation-icons/issues/27
  font-size: 20px;
}

.no-left-gutter {
  padding-left: 0;
}

.searchbar {
  line-height: 1;
  padding-top: 7px;

  input {
    height: $button-height;
  }

  .button {
    height: $button-height;
    background: #4285f4;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.name {
  width: 190px;
}

.header {
  height: 50px;
  border-bottom: 1px solid $border-grey;
}

.sidebar {
  font-size: 80%;

  .button {
    margin-left: $sidebar-left-margin;
  }

  h2 {
    line-height: 1;
    a {
      color: $red;
      cursor: pointer;
      font-size: 14pt;
      font-weight: normal;
      margin-left: $sidebar-left-margin;
    }
  }

  ul {
    list-style-type: none;

    li > a {
      padding-left: $sidebar-left-margin;
      color: #000;
      display: block;

      &:hover {
        background: $grey;
      }

      &.active {
        font-weight: bold;
        color: $red;
        border-left: 5px solid $red;
        padding-left: $sidebar-left-margin - 5px;
      }
    }
  }
}

.sidenav {
  padding-top: 10px;
  padding-right: 16px;
  ul {
    margin-bottom: 0;
  }
  .section-container {
    .section .title a.dropdown {
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 10px;
        top: 5px;
        width: 0;
        height: 0;
        border: inset 4px;
        border-color: transparent transparent transparent #404040;
        border-top-style: solid;
      }
    }
    .active .title a.dropdown {
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 10px;
        top: 8px;
        width: 0;
        height: 0;
        border: inset 4px;
        border-color: #404040 transparent transparent transparent;
        border-top-style: solid;
      }
    }
  }
}

.compose {
  font-size: 11px;
  background: $red;
  height: $button-height;
  font-weight: bold;
  text-transform: uppercase;
  width: 60%;
}

.full_width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.inbox {
  background-color: $grey;
  border: 0;
  table-layout: fixed;
  width: 100%;

  .star {
    background: url('/assets/images/star.png') no-repeat;
    height: 19px;
    width: 19px;
    display: block;
  }

  .summary {
    &:before {
      content: '- ';
    }
    color: #777;
  }

  tbody tr {
    border-bottom: 1px solid $border-grey;
  }

  .clickableRow {
    cursor: pointer;
  }
}

col {
  &.small {
    width: 3%;
  }

  &.date {
    width: 6%;
  }

  &.name {
    width: 15%;
  }

  &.body {
    width: 70%;
  }
}

.email {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.inbox-group > li {
  margin-right: 16px;
}

.inbox-button {
  background-color: $grey;
  border: 1px solid #dcdcdc;
  border-radius: $border-radius;
  display: block;
  max-height: $button-height;
  padding: 0.5em;
  font-size: 11px;
  font-weight: bold;
  width: 70px;
  text-align: center;
  color: #444;
}
