@import "foundation_and_overrides";

$swatch-width: 20%;
$swatch-height: 10px;
$swatch-margin-top: 1px;
$block-margin: 3px;

.error {
  @include alert(
    $bg: red
  );
}

.seamless_container {
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 3px;
  column-count: 4;
  column-gap: $block-margin;

  .palette_img img {
    border-radius: 3%;
  }

  .palette {
    margin-bottom: $swatch-height + $swatch-margin-top + $block-margin;

    .swatch {
      margin-top: $swatch-margin-top;
      width: $swatch-width;
      height: $swatch-height;
      float: left;
    }
  }

}

