#!/usr/bin/env ruby

unless defined? LOADED_DEFAULT_CONFIG
  LOADED_DEFAULT_CONFIG = true
  require 'compass'
  Compass.add_project_configuration 'compass/config.rb'
end

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/assets/stylesheets/*' do
  filter :sass, Compass.sass_engine_options.merge(syntax: item[:extension].to_sym)
end

compile '/assets/fonts/*/' do
  # nothing
end

compile '/assets/images/*/' do
  # nothing
end

compile '/assets/javascripts/*/' do
  # nothing
end

compile '*' do
  case item[:extension]
  when 'haml'
    filter :haml
    layout 'default'
  end
end

route '/assets/stylesheets/*' do
  '/assets/stylesheets/' + File.basename(item.identifier) + '.css'
end

route '/assets/javascripts/*' do
  '/assets/javascripts/foundation/' + File.basename(item.identifier) + '.js'
end

route '/assets/images/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/assets/fonts/*/' do
  # /fonts/foo-eot/ -> /fonts/foo.eot
  item.identifier.sub(/-.+\/$/, '.') + item[:extension]
end

route '*' do
  case item[:extension]
  when 'haml'
    '/index.html'
  end
end

layout '*', :haml, { format: :html5 }
