%h1 THIS IS THE BOMB
= haml :_flash

%h2 
  %strong Status: 
  %span{:class => "#{@bomb.state}"}= @bomb.state

%form{ :action => "/activate", :method => "post"}
  %fieldset
    %label{:for => "activation_code"} Enter Activation Code
    %input{:type => "text", :id => "activation_code", :name => "activation_code", :class => "text"}
    %button{:type => "submit", :class => "control", disabled: @bomb.state == :exploded} Activate
    
%form{ :action => "/deactivate", :method => "post"}
  %fieldset
    %label{:for => "deactivation_code"} Enter Deactivation Code
    %input{:type => "text", :id => "deactivation_code", :name => "deactivation_code", :class => "text"}
    %button{:type => "submit", :class => "control", disabled: @bomb.state == :exploded} Deactivate

%a{:href => "/"} reset bomb?

%hr
%h4 debug info
%p=h session[:bomb].inspect
