!!! 5
%html
  %head{lang: "en"}
    %meta{charset: "utf-8"}
    %title= @item[:title]
    %link{rel: "stylesheet", href: @items['/assets/stylesheets/app/'].path}
    %link{rel: "stylesheet", href: @items['/assets/stylesheets/stylesheet/'].path}

  %body
    #main
      = yield
