!!! 5
%html
  %head{lang: "en"}
    %meta{charset: "utf-8"}
    %title= @item[:title]
    %link{rel: "stylesheet", href: @items['/assets/style/stylesheet/'].path}

  %body
    #main
      = yield
    #sidebar
      %h2 Documentation
      %ul
        %li
          %a{href: "http://nanoc.ws/docs/"} Documentation
      %ul
        %li
          %a{href: "http://nanoc.ws.docs/tutorial"} Getting Started

      %h2 Community
      %ul
        %li
          %a{href: "http://groups.google.com/group/nanoc/"} Discussion Group
        %li
          %a{href: "irc://chat.freenode.net/#nanoc"} IRC Channel
        %li
          %a{href: "http://github.com/nanoc/nanoc/wiki/"} Wiki
