!!! 5
%html
  %head{lang: "en"}
    %meta{charset: "utf-8"}
    %title= @item[:title]
    %link{rel: "stylesheet", href: @items['/assets/stylesheets/app/'].path}
    %link{rel: "stylesheet", href: @items['/assets/stylesheets/stylesheet/'].path}
    %link{rel: "script", href: @items['/assets/javascripts/foundation/foundation/'].path} 
    %link{rel: "script", href: @items['/assets/javascripts/foundation/foundation.topbar/'].path} 
    %link{rel: "stylesheet", href: @items['/assets/stylesheets/foundation-icons/general_foundicons/'].path}
    %link{rel: "script", href: @items['/assets/javascripts/foundation/foundation.section/'].path}

  %body
    #main
      = yield
