!!! 5
%html
  %head{lang: "en"}
    %meta{charset: "utf-8"}
    %title Inbox - sdee@pmail.com

    %link{rel: "shortcut icon", href: "/assets/images/favicon.ico"}

    %link{rel: "stylesheet", href: @items["/assets/stylesheets/app/"].path}
    %link{rel: "stylesheet", href: @items["/assets/stylesheets/stylesheet/"].path}
    %link{rel: "stylesheet", href: @items["/assets/stylesheets/fontawesome/font-awesome/"].path}

    -# FIXME putting any sort of script tag in head causes alignment of the
      inbox button group to change ... even the below, which doesn"t even link
      to a real file
        %script{type: "text/javascript", src: "test"}
    %script{type: "text/javascript", src: @items["/assets/javascripts/vendor/jquery/"].path}
    %script{type: "text/javascript", src: @items["/assets/javascripts/foundation/foundation/"].path}
    %script{type: "text/javascript", src: @items["/assets/javascripts/foundation/foundation.section/"].path}
    %script{type: "text/javascript", src: @items["/assets/javascripts/foundation/foundation.dropdown/"].path}
    %script{src: @items["/assets/javascripts/select-email/"].path}
    %script{src: @items["/assets/javascripts/star-email/"].path}
    %script{src: @items["/assets/javascripts/navigate-email/"].path}

    :javascript
      $(document).foundation();

  %body
    = render "topbar"

    .row.full-width
      .large-2.columns.inbox-sidebar
        = render "sidebar"
      .large-10.columns
        = render "inbox_topbar"
        .row
          = yield
