.row.header
  .vertical-container
    .vertical
      .button-bar
        %ul.button-group.inbox-group
          %li
            %a{href: "#", class: "dropdown inbox-button"}
              %input{type: "checkbox"}
          %li
            %a{href: "#", class: "inbox-button"} 
              %i{class: "foundicon-refresh"}
          %li
            %a{href: "#", class: "inbox-button"} More
