.row.header
  %h2
    %a{href: "#"}(data-dropdown="drop1") Mail
    %ul#drop1.f-dropdown(data-dropdown-content)
      %li
        %a{href: "#"} Mail
      %li
        %a{href: "#"} Contacts
      %li
        %a{href: "#"} Tasks

.row.sidenav
  %a{href: "#", class: "button radius compose"} Compose

  %ul
    %li
      %a{href: "#", class: "active"} Inbox
    %li
      %a{href: "#"} Starred
    %li
      %a{href: "#"} Sent Mail
    %li
      %a{href: "#"} Drafts

  .section-container.accordion(data-section="accordion")
    %section.section
      %p.title(data-section-title)
        %a{href: "#", class: "dropdown"} [Airmail]
      .content(data-section-content)
        %ul
          %li
            %a{href: "#"} Done
          %li
            %a{href: "#"} Memo
          %li
            %a{href: "#"} To Do
    %section.section
      %p.title
        %a{href: "#"} katas

  .section-container.accordion(data-section="accordion")
    %section.section
      %p.title(data-section-title)
        %a{href: "#", class: "dropdown"} More
      .content(data-section-content)
        %ul
          %li
            %a{href: "#"} Important
          %li
            %a{href: "#"} All Mail
          %li
            %a{href: "#"} Spam
          %li
            %a{href: "#"} Trash
