%nav{class: "top-bar"}(data-topbar)
  %ul.title-area
    %li.name
      %h1 
        %a{href: "#"} Gmail
  %section{class: "top-bar-section"}
    %ul.left
      %li{class: "has-form"}
        .row.collapse.searchbar
          .large-11.columns
            %input{type: "text"}
          .large-1.columns
            %a{href: "#", class: "button expand"} 
              %i{class: "foundicon-search"}
    %ul.right
      %li.has-dropdown
        %a{href: "#"} 
          %i{class: "foundicon-website"}
      %li.has-dropdown
        %a{href: "#"} sshao@gmail.com
