%nav{class: "top-bar"}(data-topbar)
  .row
    .large-2.columns
      %ul.title-area
        %li.name
          %h1 
            %a{href: "#"} Pmail
    %section{class: "top-bar-section"}
      .large-6.columns.no-left-gutter
        .row.collapse.searchbar
          .large-11.columns
            %input{type: "text"}
          .large-1.columns
            %a{href: "#", class: "button expand"} 
              %i{class: "foundicon-search"}
      .large-4.columns
        %ul.right
          %li.has-dropdown
            %a{href: "#", class: "icon"}
              %i{class: "foundicon-website"}
          %li.has-dropdown
            %a{href: "#"} sshao@gmail.com
