%table.inbox
  %colgroup
    %col.small
    %col.small
    %col.name
    %col.body
    %col.small
    %col.date
  %tr.clickableRow.read{href: "#"}
    %td
      = render "checkbox", selector: "email1"
    %td
      %span.star
    %td Charlie Kelly
    %td
      .email
        %span GET A JOB?
        %span.summary JUST GET A JOB? WHY DON'T I STRAP ON MY JOB HELMET AND SQUEEZE DOWN INTO A JOB CANNON AND FIRE OFF INTO JOB LAND WHERE JOBS GROW ON LITTLE JOBBIES
    %td
      %i{class: "fa fa-paperclip"}
    %td Jul 24
  %tr.clickableRow.unread{href: "#"}
    %td
      = render "checkbox", selector: "email2"
    %td
      %span.star
    %td Dennis
    %td
      .email
        %span (no subject)
        %span.summary TWO wars?! We're in the midst of two wars all at once--Now the United States of America is engaged in both of these wars?
    %td
      %i{class: "fa fa-paperclip"}
    %td Jul 24
  %tr.clickableRow.read{href: "#"}
    %td
      = render "checkbox", selector: "email3"
    %td
      %span.star
    %td Mac
    %td
      .email
        %span Christmas
        %span.summary That was the Christmas tradition my parents had. You go from house to house collecting your presents. And then when the next family would come, you would take your presents and run.
    %td
    %td Jul 22
  %tr.clickableRow.unread{href: "#"}
    %td
      = render "checkbox", selector: "email4"
    %td
      %span.star
    %td Charlie Kelly
    %td
      .email
        %span KITTEN MITTENS
        %span.summary Is your cat making TOO MUCH NOISE ALL THE TIME? Is your cat constantly stomping around driving you crazy? Is your cat clawing at your furniture? Think there’s no answer? You’re so stupid! There is! Kitten Mittens.
    %td
    %td Jul 22
