.topbar
  %h1 Gmail
  -#
    TODO search bar
  %a{href: "#"} app_icon
  %a{href: "#"} sshao@gmail.com

.something
  %h2 
    %a{href: "#"} Mail
  %a{href: "#"} 
  %a{href: "#"} Refresh
  %a{href: "#"} More

.sidebar
  %a{href: "#"} Compose
  %ul
    %li
      %a{href: "#"} Inbox
    %li
      %a{href: "#"} Starred
    %li
      %a{href: "#"} Sent Mail
    %li
      %a{href: "#"} Drafts
    %li
      %a{href: "#"} [Airmail]
      %ul
        %li
          %a{href: "#"} Done
        %li
          %a{href: "#"} Memo
        %li
          %a{href: "#"} To Do
    %li
      %a{href: "#"} katas
    %li
      %a{href: "#"} More
      %ul
        %li
          %a{href: "#"} Important
        %li
          %a{href: "#"} All Mail
        %li
          %a{href: "#"} Spam
        %li
          %a{href: "#"} Trash

.inbox
  %table
    %tr
      %td Check
      %td Star
      %td Charlie Kelly
      %td 
        %span Lorem Ipsum
        -
        %span Vivamus eu malesuada quam. Nullam pharetra euismod turpis et faucibus. Nulla tincidunt ipsum enim
      %td Attach
      %td Jul 24
