%table.inbox
  %colgroup
    %col.small
    %col.small
    %col.name
    %col.body
    %col.small
    %col.date
  %tr.clickableRow{href: "#"}
    %td
      %input{type: "checkbox"}
    %td
      %span.star
    %td Charlie Kelly
    %td
      .email
        %span GET A JOB?
        %span.summary JUST GET A JOB? WHY DON'T I STRAP ON MY JOB HELMET AND SQUEEZE DOWN INTO A JOB CANNON AND FIRE OFF INTO JOB LAND WHERE JOBS GROW ON LITTLE JOBBIES
    %td
      %i{class: "fa fa-paperclip"}
    %td Jul 24
  %tr.clickableRow{href: "#"}
    %td
      %input{type: "checkbox"}
    %td
      %span.star
    %td Charlie Kelly
    %td
      .email
        %span I'm pleading the 5th
        %span.summary Now, let's say you and I go toe-to-toe on bird law and see who comes out the victor?
    %td
      %i{class: "fa fa-paperclip"}
    %td Jul 24
  %tr.clickableRow{href: "#"}
    %td
      %input{type: "checkbox"}
    %td
      %span.star
    %td Mac
    %td
      .email
        %span Christmas
        %span.summary That was the Christmas tradition my parents had. You go from house to house collecting your presents. And then when the next family would come, you would take your presents and run.
    %td
    %td Jul 22
