$bomb-width: 600px;
$deactivated-color: gray;
$activated-color: green;
$exploded-color: red;

@mixin circle($radius, $center-text: true) {
  width: $radius;
  height: $radius;
  border-radius: $radius/2;
           
  @if ($center-text) {
    text-align: center;
  }
}

body {
  font-family: Menlo, Courier;
  background: #eee;
}

a {
  color: orange;
  text-decoration: none;
}

button {
  font-family: Menlo, Courier;
  text-align: center;
  padding: 5px;
  border: 0px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;

  &.control {
    width: 100px;
  
    &:hover {
      background-color: red;
    }
  }

  &.close {
    background-color: transparent;
    border: 1px solid #fff;
    width: 2em;
  }
  
  &:disabled {
    color: #bbb;
    border: 1px solid #bbb;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}

form {
  margin: 1.0em;
}

fieldset { 
  margin: auto;
  padding: 0.3em 0.6em;
  border: 1px solid; 

  legend {
    padding: 0.3em 0.6em;
    border: 1px solid;
    text-transform: uppercase;
  }

  input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #666;
    height: 2em;
    padding: 1px 10px;
    color: green;
  }
}

// FIXME this doesn't look like good inheritance 
.activated {
  span {
    color: $activated-color;
  }
}
.deactivated {
  span {
    color: $deactivated-color;
  }
}
.exploded {
  span {
    color: $exploded-color;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.flash {
  &.error {
    color: red;
  }
  &.success {
    color: green;
  }
}

.circle {
  @include circle($bomb-width);
  background: #000;
  margin: auto;
}

.circle:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.content {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
}

fieldset {
  label {
    display: inline-block;
  }

  ol {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 5px;
  }
}
