%h1 Palettes#new
%p Find me in app/views/palettes/new.html.haml

= form_tag "/generate", :method => "post" do
  %label{for: "tumblr_username"} username:
  %input#tumblr_username
  %button{type: "submit"} Generate 

