= form_for :palette_set, url: { controller: "palette_sets", action: "create" } do |f|
  .row.collapse
    .small-10.columns
      =f.text_field :source, id: "source", placeholder: "Enter username..."
    .small-2.columns.end
      =f.submit "Generate", class: "button postfix"
