= form_tag "/palette_sets", :method => "post" do 
  .row.collapse
    .small-10.columns
      %input#source{name: "palette_set[source]", type: "text", placeholder: "Enter username..."}
    .small-2.columns.end
      %button{type: "submit", class: 'button postfix'} Generate 

