.row
  .twelve.columns
    %h2 Create Set
    = form_tag "/generate", :method => "post" do 
      .row.collapse
        .small-4.columns
          %input#tumblr_username{name: "palette_set[tumblr_username]", type: "text", placeholder: "Enter username..."}
        .small-2.columns.end
          %button{type: "submit", class: 'button postfix'} Generate 

