= link_to palette_set do
  - palette_set_div(palette_set) do |image_url|
    .vertical-centered-container.palette-set-browse{style: "background-image: url(#{image_url});"}
      .vertical-centered-content
        %h2= palette_set.source
