= render :partial => 'new_form'

.row
  .twelve.columns
    %h2 Browse Sets
    %ul
      - @palette_sets.each do |set|
        %li
          %a{href: palette_set_path(set)} 
            = set.source
