%h1 PaletteSets#new
%p Find me in app/views/palette_sets/new.html.haml

= form_tag "/generate", :method => "post" do 
  %label{for: "tumblr_username"} username:
  %input#tumblr_username{name: "palette_set[tumblr_username]"}
  %button{type: "submit"} Generate 
