.row
  .twelve.columns
    %h2= @palette_set.title
    %ul
      %li
        source:
        %a{href: "http://#{@palette_set.source}.tumblr.com"}= @palette_set.source

    - if user_signed_in?
      - if current_user.try(:palette_sets).try(:include?, @palette_set)
        %p Favorited
      - else
        %form{action: "/users/favorite/#{@palette_set.id}", method: "post"}
          %button{name: "favorite", id: "favorite"} Favorite

.row.seamless_container
  - if @palette_set.palettes.empty?
    %p No photo posts found to generate palettes from.
  = render @palette_set.palettes
