.row
  .twelve.columns
    %h2= @palette_set.title
    %ul
      %li
        source:
        %a{href: "http://#{@palette_set.source}.tumblr.com"}= @palette_set.source

.row.seamless_container
  - @palette_set.palettes.each do |palette|
    .palette
      .palette_img
        %img{src: palette.image_url}
      .swatch_container
        - palette.colors.each do |color|
          .swatch{style: "background-color: #{color};"}
