.row
  .small-10.columns
    %h2
      %a{href: "http://#{@palette_set.source}.tumblr.com"}= @palette_set.source
  .small-2.columns
    %h2
      - if user_signed_in?
        - if current_user.try(:palette_sets).try(:include?, @palette_set)
          %button{class: "button tiny round disabled", name: "favorite", id: "favorite"} Favorited
        - else
          %form{action: "/users/favorite/#{@palette_set.id}", method: "post"}
            = token_tag nil
            %button{class: "button tiny round", name: "favorite", id: "favorite"} Favorite

.row.seamless_container
  - if @palette_set.palettes.empty?
    %p No photo posts found to generate palettes from.
  = render @palette_set.palettes
