- unless @random_palette.nil?
  .index-bg{style: "background-image: url(#{@random_palette.image_url});"}
.vertical-centered-container
  .vertical-centered-content
    - unless @random_palette.nil?
      .row
        .small-6.small-centered.columns
          = link_to @random_palette_set do
            - output_colors(@random_palette.colors, "index-swatch")
    .row
      .small-6.small-centered.columns
        = render partial: "palette_sets/new_form" 
